@import "base/colors.scss";
@import "base/quary.scss";
@import "base/mixin.scss";
@import "region/footer.scss";
@import "region/header.scss";
@import "content/leasing.scss";
@import "content/sub-degem.scss";
@import "content/node.scss";
@import "content/degem.scss";
@import "paragraphs/editor.scss";
@import "paragraphs/icons-image.scss";
@import "paragraphs/grid.scss";
@import "paragraphs/form.scss";

a, a:link, a:visited{
  text-decoration: none;
  color: $default;
}

body{
    color: $default;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    @media (max-width: 1300px) {
        font-size: 14px;
    }
    .dialog-off-canvas-main-canvas .layout-container{
      font-size: 1em;
    }
    input, textarea, select, button{
      font-family: 'Open Sans', sans-serif;
      font-size: 1em;
    }
    main{
      padding-top: 81px;
    }
    &:not(.page-node){
      .layout-content{
        @include width;
        margin-top: 50px;
      }
    }
}

#user-login-form{
  .js-form-item{
    margin-bottom: 20px;
    label{
      display: block;
    }
  }
  .form-submit{
    background-color: $blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
}

#block-caspa-content{
  position: relative;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

h1{
    font-size: 2.4em;
    color: $blue;
}

.text-formatted, .field--type-text-with-summary{
  p{
    margin-top: 0;
  }
  a{
    text-decoration: underline;
    color:$blue;
  }
}

.owl-carousel{
  overflow: hidden;
}

.owl-stage{
  display: flex;
}

.owl-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @include res(s-m){
      margin-top: 25px;
    }
    .owl-dot{
       width: 11px;
       height: 11px;
       border: 2px solid $blue;
       box-sizing: border-box;
       border-radius: 50%;
       margin: 0 5px;
       &.active{
            background: $blue;
       }
       &:first-child:last-child{
        display: none;
       }
    }
}

.region-wrapper.region-message{
  z-index: 100;
  position: relative;
}

.field--type-text-long, .field--type-text-with-summary{
  a{
    text-decoration: underline;
    color:$blue;
  }
}

input{
  max-width: 100%;
  box-sizing: border-box;
}

img, video{
  max-width: 100%;
  height: auto;
  margin-bottom: -4px;
}

video{
  max-width: 100%;
}

.only-mobile{
  display: none;
  @include res(s-m-l){
    display: block;
  }
}

.only-desktop{
  @include res(s-m-l){
    display: none!important;
  }
}

.toolbar-tray span, .toolbar-tray a {
    color: #565656;
    text-decoration: none;
    display: block;
}

.width-wrapper{
  @include width;
}

.hide{
  display: none;
}

#block-caspa-primary-local-tasks{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color:$blue;
  z-index: 200;
  padding: 10px 0;
  a{
      color: #fff;
      font-size: 16px;
  }
  > ul{
      margin: 0;
      display: flex;
      list-style: none;
      padding-right: 77px;
      justify-content: center;
      li{
        margin: 0 10px;
      }
      .is-active {
          a{
              opacity: 0.9;
              pointer-events: none;
          }
      }
      a:hover{
          opacity: 0.9;
      }
  }
}

.toolbar-oriented .toolbar-bar{
  z-index: 1001;
}

.ajax-progress{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 !important;
  right: 0 !important;
  padding: 0;
  background: url(/themes/caspa/images/loader.svg) no-repeat center center rgba(0,0,0,0.3);
  background-size: 150px;
  display: -webkit-box;display: flex;
  -webkit-box-align: center;align-items: center;
  -webkit-box-pack: center;justify-content: center;
  z-index: 101;
}

.region-message .messages__wrapper{
  background-color: $blue;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  a{
    color: #fff;
    text-decoration: underline;
  }
}

// accibility

body{
  .aioa-widget-wrapper .accessibility-trigger button:hover, 
  .aioa-widget-wrapper .accessibility-trigger button:focus{
    background-color: transparent!important;
    scale: 1!important;
  }
  .aioa-widget-wrapper .accessibility-trigger.aioa-default-icon button{
    background: url(/themes/caspa/images/accessibility-blue.png) no-repeat center center!important;
    background-size: 39px !important;
    transition: background 0.5s;
    left: calc(50% - 653px);
    right: auto;
    margin-top: -5px;
    transition: all 0.5s;
    @include res(width){
      left: 236px;
    }
    @include res(s-m-l){
      display: none!important;
    }
    img, svg, .aioa-trigger-button-tooltip, .aioa_loader{
      display: none!important;
    }
  }
  &.white-header:not(.scroll):not(.open-menu), .route-system-404:not(.scroll):not(.open-menu){
    .accessibility-trigger.aioa-default-icon button{
      background: url(/themes/caspa/images/accessibility-white.png) no-repeat center center!important;
      background-size: 39px !important;
    }
  }
  .accessibility-modal-header, .accessibility-modal-button-group button, .accessibility-modal-button-group a, .accessibility-modal-footer .accessibility-footer-report-link{
  }
  .accessibility-modal-footer .accessibility-footer-wrapper{
    display: none!important;
  }
  &.gin--vertical-toolbar{
    .accessibility-trigger.aioa_top_right button {
      top: 77px;
    }
  }
}

.order{
  z-index: 1;
  position: relative;
  width: 20px;
  height:30px;
  margin: 0 auto;
  img{
    width: 20px;
  }
  &.dublicate{
    width: 40px;
    display: flex;
  }
}

.order-text{
  text-align: center;
  font-size: 0.8em;
  a{
    color: #ff7900;
  }
}

[data-contextual-id^=media]{
  display: none;
}

form{
  div[data-drupal-messages]{
    display: none;
  }
  .form-item--error-message{
    font-size: 0.8em;
    color: red;
  }
}

.owl-controls{
  position: absolute;
  width: 100%;
  top: 50%;
  right: 0;
  .owl-nav{
    top: calc(50% - 20px);
    position: absolute;
    height: 0;
    width: 100%;
    right: 0;
    .owl-prev, .owl-next{
      text-indent: -9999px;
      width: 30px;
      height: 30px;      
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid #b5b3b3;
      background: #f9f9f9;
      position: absolute;
      @include res(s-m){
        width: 30px;
        height: 30px;
      }
      button{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background-color: transparent;
        &:hover{
          background-color: transparent;
        }
      }
      &.disabled{
        opacity: 0.4;
        pointer-events: none;
      }
      &:before, &:after{
        content: "";
        transition: all 0.5s;
        border-radius: 20px;
        width: 10px;
        height: 2px;
        background-color: #b5b3b3;
        position: absolute;
      }
    }
    .owl-prev{
      right: 0px;
      @include res(s-m){
        right: -10px;
      }
      &:before {
        transform: rotate(45deg);
        top: 11px;
        right: 8px;
      }
      &:after{
        transform: rotate(-45deg);
        top: 17px;   
        right: 8px;
      }
    }
    .owl-next{
      left: 0px;
      @include res(s-m){
        left: -10px;
      }
      &:before {
        transform: rotate(-45deg);
        top: 11px;
        left: 8px;
      }
      &:after{
        transform: rotate(45deg);
        top: 17px;
        left: 8px;
      }
    }
  }
}

.whatsapp-wrapper{
  background-color: #67d449;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 20px;
  bottom: 65px;
  box-sizing: border-box;
  z-index: 100;
  a{
    padding: 10px;
    box-sizing: border-box;
    display: block;
  }
}

  .contact-float{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background: #EEF6FF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 20;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    @include res(xxl){
      padding: 0 20px;
    }
    @include res(s-m){
      position: relative;
      border-radius: 0;
      bottom: auto;
      flex-wrap: wrap;
      box-shadow: none;
      background-color: $blue;
      color: #fff;
    }
    > div{
      width: 100%;
    }
    form{
      display: flex;
      align-items: flex-start;
      padding: 20px 0px 45px;
      position: relative;
      @include res(s-m){
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
        border-bottom: 1px solid #E8E8E8;
        padding: 20px 0px;
      }
      @include res(xxl){
        padding-bottom: 45px;
      }
      .js-form-item:not(.js-form-type-checkbox):not(.js-form-type-processed-text){
        position: relative;
        width: calc(25% - 203px);
        max-width: 240px;
        margin-left: 30px;
        font-size: 0.9em;
        @include res(xxl){
          margin-left: 20px;
          width: calc(25% - 110px);
        }
        @include res(s-m){
          width: 100%;
          max-width: 100%;
          margin-left: 0;
          margin-bottom: 20px;
        }
        label{
          position: absolute;
          top: 9px;
          right: 11px;
          transition: all 0.5s;
          color: #5E5C5C;
          cursor: text;
          &.form-required{
            &:after{
              content: "*";
            }
          }
        }
        input, select{
          background-color: #fff;
          border-bottom: 1px solid #D2D2D2;
          padding: 0 11px;
          box-sizing: border-box;
          outline: none;
          width: 100%;
          height: 35px;
          border: 1px solid #D2D2D2;
          border-radius: 6px;
          @include res(s-m){
            background: #F4F4F4;
            height: 35px;
            border: none;
          }

        }
        &.input-full{
          label{
            top: -12px;
            font-size: 0.6em;
            right: 0;
            @include res(mobileStyle){
              top: -15px;
            }
          }
        }
      }
      [id^=edit-processed-text]{
        color: $blue;
        width: 400px;
        margin: 0;
        @include res(xxl){
          width: 150px;
          margin-left: 20px;
        }
        p{
          margin: 0;
          font-size: 0.8em;
        }
        @include res(s-m){
          font-size: 1em;
          color: #fff;
          width: 100%;
          margin-bottom: 30px;
          text-align: center;
          p{
            max-width: 220px;
            @include res(s-m){
              max-width: 100%;
            }
          }
        }
      }
      .js-form-item-full-name{
        margin-right: 60px;
        @include res(s-m){
          margin-right: 0;
        }
      }
      .js-form-type-select{
        label{
          z-index: -10;
        }
        &.input-full{
          label{
            z-index: 10;
          }
        }
      }
      .js-form-type-checkbox, [id^=edit-require]{
        position: absolute;
        right: 460px;
        line-height: 1;
        width: calc(100% - 425px);
        font-size: 0.7em;
        cursor: pointer;
        color: $blue;
        @include res(s-m){
          color: #fff;
          position: relative;
        }
        a{
          text-decoration: underline;
          @include res(s-m){
            color: #fff;
          }
        }
        &.js-form-item-agree-marketing{
          bottom: 12px;
          @include res(s-m){
            bottom: auto;
          }
        }
        &.js-form-item-privacy{
          bottom: 42px;
          @include res(s-m){
            bottom: auto;
            margin-bottom: 10px;
          }
        }
        &.form-item--error{
          color: red;
          .form-item--error-message{
            display: none;
          }
        }
        @media (min-width:1351px) and (max-width:1500px){
          font-size: 0.6em;
        }
        @media(min-width: 1351px) and (max-width: 1800px){
          right: 0;
          width: calc(100% - 26px);
        }
        @include res(xxl){
          right: 0;
          width: calc(100% - 26px);
        }
        @include res(s-m){
          position: relative;
          width: 100%;
          right: auto;
          bottom: auto;
        }
        label{
          cursor: pointer;
        }
        input{
          margin: 0;
        }
      }
      input.form-submit{
        background: url(/themes/caspa/images/arrow-left-white.svg) no-repeat center left 15px $blue;
        padding: 9px 20px 12px 49px;
        color: #fff;
        font-size: 1em;
        height: 40px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.5s;
        @include res(s-m){
          padding: 10px 20px;
          text-align: center;
          background-image: none;
          font-weight: bold;
          background-color: #fff;
          color: $blue;
          margin: 20px auto 0;
        }
        &:hover{
          background-color: $dark-blue;
          @include res(s-m){
            background-color: #e4e4e4;
          }
        }
      }
    }
  }