footer{
    color: $blue;
    font-size: 0.9em;
    padding-top: 30px;
    padding-bottom: 150px;
    background: #f9f9f9;
    margin-top: 70px;
    @include res(s-m){
        margin-top: 0;
        padding-bottom: 20px;
    }
    > .width-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include res(s-m){
            align-items: center;
        }
        .credit{
            width: 100%;
            direction: ltr;
            a{
                margin-left: 3px;
                img{
                    width: 75px;
                    margin-bottom: -1px;
                }
            }
        }
        .left, .right{
            @include res(s-m){
                width: 40%;
                margin: 30px 0;
            }
        }
        .center{
            width: calc(100% - 300px);
            @include res(s-m){
                order: -1;
                width: 100%;
                text-align: center;
            }
            .region{
                display: flex;
                justify-content: center;
                @include res(s-m-l){
                    display: block;
                }
                #block-caspa-footer-details{
                    width: 30%;
                    margin-left: 10%;
                    @include res(s-m-l){
                        width: 100%;
                        margin: 0 0 30px;
                    }
                    a{
                        text-decoration: none;
                    }
                    p{
                        margin: 0 0 10px;
                    }
                }
                #block-caspa-footer-menu{
                    width: 60%;
                    max-width: 400px;
                    @include res(s-m-l){
                        max-width: 100%;
                        width: 100%;
                    }
                    ul.menu{
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            list-style: none;
                            width: 50%;
                            margin-bottom: 10px;
                            a{
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
}