header{
  position: fixed;
  width: 100%;
  padding: 10px 24px 12px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
  right: 0;
  transition: all 0.5s;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  @include res(s-m-l){
    padding: 18px 20px;
  }
  .wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    .logo{
      width: 62px;
      img{
        width: 62px;
      }
    }
    .region-menu{
      margin-right: 70px;
      width: calc(100% - 62px);
      nav > ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
          font-size: 1.2em;
          padding-left: 50px;
          &.phone{
            order: 100;
            margin-right: auto;
            padding-left: 0;
            a{
              background: url(/themes/caspa/images/phone-call.png) no-repeat right center;
              padding-right: 30px;
              font-size: 1.2em;
              font-weight: bold;
              background-size: 22px;
              color: $blue;
            }
          }
          &:not(.phone) a{
            position: relative;
            &:after{
              content: "";
              width: 0;
              height: 2px;
              border-radius: 10px;
              background-color: $blue;
              position: absolute;
              bottom: -6px;
              right: 0;
              transition: all 0.3s;
            }
            &.active:after, &:hover:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/*********  responsive menu  *********/

body:before{
  @include res(s-m-l){
    content:"";
    opacity: 0;
    position: fixed;
    width: 100%;
    height: calc(100% - 65px);
    bottom: 0;
    left: 0;
    z-index: -10;
    background-color: rgba(0,0,0,0.76);
    transition: all 0.5s;
  }
}


body.open-menu:before{
    z-index: 99;
    opacity: 1;
}

#menu-toggle {
    width:28px;
    height:17px;
    cursor:pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    #hamburger {
      position: absolute;
      direction: rtl;
      right: 0;
      span {
        border-radius: 10px;
        height:3px;
        margin:0px 0 5px;
        display: block;
        background-color: $blue;
        transition:.25s ease-in-out;
        -webkit-transition: .25s ease-in-out;
        box-sizing:border-box;
        &:nth-child(1){
          width:28px;          
          transition-delay:.75s;
          -webkit-transition-delay:.75s;
        }
        &:nth-child(2){
          width:20px;
          transition-delay:.625s;
          -webkit-transition-delay:.625s;
        }
        &:nth-child(3){
          width:28px;
          transition-delay:.5s;
          -webkit-transition-delay:.5s;
        }
      }
    }
    #cross {
      height:100%;
      width:100%;
      transform:rotate(45deg);
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      right: 5px;
      position: relative;
      top: -4px;
      span{
        border-radius: 10px;
        display: block;
        background-color: $blue;
        transition:.25s ease-in-out;
        -webkit-transition: .25s ease-in-out;;
        box-sizing:border-box;
        &:nth-child(1){
          height:0;
          width:3px;
          position:absolute;
          left:19px;
          top: -7px;
          transition-delay:0s;
          -webkit-transition-delay:0s;
        }
        &:nth-child(2){
          width:0%;
          height:3px;
          position:absolute;
          left:8px;
          top: 4px;
          transition-delay:.25s;
          -webkit-transition-delay:0.25s;
        }
      }
    }
  }
  
.open-menu{
  overflow: hidden;
  header .menu-wrapper .region-menu-wrapper{
    right: 0;
  }
  #menu-toggle {
    #hamburger {
      span {
        width:0%;
        &:nth-child(1){
          transition-delay:.25s;
          -webkit-transition-delay:0.25s;
        }
        &:nth-child(2){
          transition-delay:.125s;
          -webkit-transition-delay:0.125s;
        }
        &:nth-child(3){
          transition-delay:0s;
          -webkit-transition-delay:0s;
        }
      }
    }
    #cross {
      span {
        &:nth-child(1){
          height:24px;
          transition-delay:.625s;
          -webkit-transition-delay:0.265s;
        }
      }
      span {
        &:nth-child(2){
          width:24px;
          transition-delay:.375s;
          -webkit-transition-delay:0.375s;
        }
      }    
    }
  }
}