.page-node-page{
    h1{
        @include width;
        margin: 50px auto 30px;
    }
    .field--name-field-paragraphs{
        .paragraph:not(.paragraph--type--leasing){
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
            &.has-bg-color{
                padding: 50px 0
            }
            .field--name-field-h2-title h2 {
                margin-bottom: 30px;
                font-weight: bold;
                text-align: center;
                font-size: 2em;
                color: $blue;
            }
            &:first-child:not(.has-bg-color){
                margin-top: 50px
            }
        }
    }
    article .field--name-body{
        @include width;
        ol {
            list-style: none;
            counter-reset: item;
            padding-right: 0;
            padding-left: 0;
            > li {
                counter-increment: item;
                margin: 0.5em 0;
                padding-right: 40px;
                position: relative;
                line-height: 1.5;
                &::before {
                    content: counter(item) ".";
                    position: absolute;
                    right: 0;
                    font-weight: bold;
                }
                ol {
                    counter-reset: subitem;
                    padding-right: 40px;
                    margin-top: 0.25em; 
                    > li {
                        counter-increment: subitem;
                        &::before {
                            content: counter(item) "." counter(subitem);
                            font-weight: bold;
                        }
                        ol {
                            counter-reset: subsubitem;
                            > li {
                                counter-increment: subsubitem;
                                &::before {
                                content: counter(item) "." counter(subitem) "." counter(subsubitem);
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

.banner{
    position: relative;
    .field--name-field-banner-mobile.owl-carousel.owl-loaded, .field--name-field-banner-mobile{
        display: none;
        @include res(s-m){
            display: block;
            + .field--name-field-banner.owl-carousel.owl-loaded, + .field--name-field-banner{
                display: none;
            }
        }
    }
    .owl-carousel.owl-loaded{
        img{
            right: 2px;
            position: relative;
            width: 100vw;
        }
    }
    .on-banner-title{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 10;
        text-align: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0,0.5));
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: #fff;
        padding: 0 50px 65px;
        @include res(s-m){
            padding: 0 20px 40px;
        }
        h1{
            color: #fff;
            margin-bottom: 0;
        }
        h2{
            font-size: 1.2em;
        }
    }
    .control{
        z-index: 10;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        left: 15px;
        bottom: 15px;
        div{
            cursor: pointer;
        }
        img{
            width: 45px;
            height: auto;
        }
        &.desktop-count-1{
            display: none;
        }
        @include res(s-m){
            display: block;
            &.mobile-count-1{
                display: none;
            }
            &.mobile-count-0.desktop-count-1{
                display: none;
            }
        }
    }
}

.paragraph--type--view{
    .content-wrapper{
        @include width;
    }
}