.paragraph--type--form{
    padding-top: 50px;
    .content-wrapper{
        @include width;
        display: flex;
        justify-content: space-between;
        .field--name-field-h3-subtitle{
            h3{
                font-size: 1em;
                margin-bottom: 30px;
            }
        }
        .right{
            width: calc(100% - 460px);
            form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .js-form-type-processed-text{
                    padding-left: 30px;
                    box-sizing: border-box;
                    width: 100%;
                    h2{
                        color: $blue;
                    }
                    p{
                        font-size: 0.8em;
                        margin: 0 0 30px;
                    }
                }
                .js-form-type-textfield, .js-form-type-email, .js-form-type-textarea, .js-form-type-select{
                    width: 48%;
                    position: relative;
                    margin-bottom: 17px;
                    label{
                        position: absolute;
                        top: 9px;
                        right: 12px;
                        transition: all 0.5s;
                        cursor: text;
                    }
                    input, textarea, select{
                        background-color: #fff;
                        border-bottom: 1px solid #D2D2D2;
                        padding: 0 11px;
                        box-sizing: border-box;
                        outline: none;
                        width: 100%;
                        height: 40px;
                        border: 1px solid #D2D2D2;
                        border-radius: 6px;
                        @include res(s-m){
                            background: #F4F4F4;
                            height: 35px;
                            border: none;
                        }
                    }
                    textarea{
                        height: 120px;
                        resize: none;
                    }
                    &.input-full{
                        label{
                            top: -18px;
                            font-size: 0.8em;
                            right: 0;
                        }
                    }
                }
                .js-form-type-checkbox{
                    font-size: 0.9em;
                    margin-bottom: 10px;
                    &.form-item--error{
                        color: red;
                        .form-item--error-message{
                            display: none;
                        }
                    }
                    a{
                        text-decoration: underline;
                    }
                }
                input.form-submit{
                    background: url(/themes/caspa/images/arrow-left-white.svg) no-repeat center left 15px $blue;
                    padding: 9px 20px 12px 49px;
                    color: #fff;
                    font-size: 1em;
                    height: 40px;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: all 0.5s;
                    margin-top: 20px;
                    margin-right: auto;
                    @include res(s-m){
                        width: 100%;
                        padding: 12px 20px;
                        text-align: center;
                        background-image: none;
                        font-weight: normal;
                    }
                    &:hover{
                        background-color: $dark-blue;
                    }
                }
            }
        }
        .field--name-field-body{
            width: 400px;
            h2{
                color: $blue;
                font-size: 2em;
                font-weight: bold;
            }
            p{
                line-height: 2;
            }
        }
    }
}