.paragraph--type--grid{
    .content-wrapper{
        @include width;
        .field--name-field-icons{
            display: flex;
            flex-wrap: wrap;
            > .field__item{
                width: 30%;
                margin-left: 5%;
                margin-bottom: 50px;
                &:nth-child(3n){
                    margin-left: 0;
                }
                @include res(s-m){
                    width: 100%;
                    margin-left: 0;
                }
                .paragraph--type--icon{
                    text-align: center;
                    .field--name-field-icon{
                        width: 96px;
                        height: 96px;
                        background-color: #fff;
                        border-radius: 50%;
                        border: 1px solid #17368439;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto 20px;
                        img{
                            max-width: 55px;
                            max-height: 55px;
                            width: auto;
                            height: auto;
                        }
                    }
                    .field--name-field-sub-title{
                        margin: 0 auto;
                        color: $default;
                        font-size: 1.1em;
                    }
                    .field--name-field-h3-subtitle{
                        h3{
                            color: $dark-blue;
                            font-size: 1.6em;
                            margin: 0;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}